// Заголовки, общие БЄМ блоки и проче...
.btn {
	display: flex;
	align-items: center;
	background-color: $mainColor;
	color: #fff;
	border-radius: 4px;
	text-align: left;
	span {
		font-weight: 600;
		line-height: 140%;

		@media (max-width: $tablet) {
			line-height: 115%;
		}
	}
}

.wrapper-bg {
	background: $bgColor;
}

.title-section {
	line-height: 125%;
	font-weight: 600;
	font-size: 28px;
	margin-bottom: 40px;
	@media (max-width: $laptop) {
		font-size: 24px;
		margin-bottom: 30px;
	}
}
