.automatic-water-bg-img {
	background-repeat: no-repeat;
	background-position: bottom -160px right -20px;
	background-size: 610px auto;
}
@media (max-width: 1279.98px) {
	.automatic-water-bg-img {
		background-position: bottom -200px right -220px;
		background-size: 590px auto;
	}
}
@media (max-width: 1023.98px) {
	.automatic-water-bg-img {
		background-position: center bottom 35px;
		background-size: 417px auto;
	}
}
@media (max-width: 767.98px) {
	.automatic-water-bg-img {
		background-position: center top 75px;
		background-size: 417px auto;
	}
}
@media (max-width: 429.98px) {
	.automatic-water-bg-img {
		background-position: center top 175px;
		background-size: 320px auto;
	}
}

.service-block__list {
	margin: 0 0 0 15px !important;
	li {
		list-style: disc !important;
	}
}
.service-block__title_flex-wide {
	flex: 1 1 70% !important;
}
/*!======================== estb */
.banner__text_text-wrap {
	text-wrap: wrap !important;
}
.we-doing__description_small-mb {
	margin-bottom: 24px !important;
}
.we-doing__img {
	margin-bottom: 24px;
	position: relative;
	padding-bottom: 87.33624454148472%;
	img {
		border-radius: 4px;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.spollers__btn-order_none-hover {
	color: #009cd9 !important;
}
