@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================

@import url("https://fonts.googleapis.com/css?family=Fira+Sans:regular,500,600,700");
$fontFamily: "Fira Sans";
$fontSize: 16px; // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета

$mainColor: #102938;
$titleOpacityColor: #102938cc;
$textColorBlue: #009cd9;
$bgColor: #f0f4f9;
$textGreen: #0db25a;
$textPink: #ff005d;

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1287;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 60;

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Ширина страбатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$laptop_L: 1439.98px;
$laptop: 1023.98px;
$tablet: 767.98px; // Телефоны L
$mobileSmall: 429.98px; // Телефоны S

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
body {
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
}
@import "new";
@import "home";
